
/* Main */

/* Info */

.info{
    margin: 10px 0;
}

/* /. Info */

/* Promo */

.promo{
    margin-bottom: 20px;
}

.promo__inner{
    display:grid;
    grid-template-columns:9fr 2fr;
    column-gap:20px;
}

.promo__inner-ways{

}

.promo__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

}

/* .promo__inner-title{
    max-width:20em;
    font-size: 2em;
    text-align:center;
    font-weight: 500;
    margin:0 auto 10px;
    background-color:var(--background);
    border-radius:10px;
    padding:5px 10px;
} */

.promo__inner-ad{
    background-color:#cccccc;
}

/* /. Promo */

/* /. Main */

/* Media */
