section{
    height:100%;
    padding: 10px 0;
}

.header{

}

.page{
    background-color:#fff;
    padding: 10px;
    width: calc(100% - 20px);
    border-radius: 15px;
    height:100%;
}

.algorithm{
    margin: 0;
}

.algorithm__caption{
    font-size: 1.25em;
}

.algorithm__list{
    padding: 10px;
    padding-left: 35px;
    margin: 0;
}

.algorithm__list-item{
    font-size: 1.25em;
}

/* Media */

@media(max-width:576px){
    .algorithm__list {
        padding: 10px;
        padding-left: 20px;
    }
}
