section{
    height:100%;
    padding: 10px 0;
}

.header{

}

.page{
    background-color:#fff;
    padding: 10px;
    width: calc(100% - 20px);
    border-radius: 15px;
    height:100%;
}

.algorithm{
    margin: 0;
}

.algorithm__caption{
    font-size: 1.25em;
}

.algorithm__list{
    padding: 10px;
    padding-left: 35px;
    margin: 0;
}

.algorithm__list-item{
    font-size: 1.25em;
}

/* Main */

.form{
    display: flex;
    flex-direction:column;
}

.form__label{

}

.form__input{
    padding: 5px;
    margin-bottom: 15px;
    font-size: 18px;
}

.form__button{
    padding: 10px;
    width: 200px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;

}

/* /. Main */

/* Media */

@media(max-width:576px){
    .algorithm__list {
        padding: 10px;
        padding-left: 20px;
    }
}
