

<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__inner-contacts">
                <h3 class="footer__title">ЧУП «ПЕРЕСВЕТ-БЕЗОПАСНОСТЬ»</h3>
                <dl class="footer__inner-list">
                    <dt class="footer__inner-title">Юр. адрес: </dt>
                    <dd class="footer__inner-desc"><address>220140, г. Минск, ул. Притыцкого, д.62/1, каб.71</address></dd>

                    <dt class="footer__inner-title">Email:</dt>
                    <dd class="footer__inner-desc">
                        <a class="link" href="mailto:peresvetby@mail.ru">peresvetby@mail.ru</a>
                    </dd>

                    <dt class="footer__inner-title">Телелефон:</dt>
                    <dd class="footer__inner-desc">
                        <a class="link" href="tel:80296196466">8029-619-64-66</a>
                    </dd>
                </dl>
            </div>
            <div class="footer__inner-payment">
                <h3 class="footer__title">Реквезиты для перевода на счет:</h3>
                <ul class="footer__inner-list">
                    <li class="footer__list-item">р/с: BY18BLNB30120000328240000933</li>
                    <li class="footer__list-item">ОАО «БНБ-Банк», <address>г. Минск, пр. Независимости, 87а,</address></li>
                    <li class="footer__list-item">БИК BLNBBY2Х</li>
                    <li class="footer__list-item">УНП 193530040</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
