
<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="link" href="#">
                <span>Единый центр экономии затрат на пожарную безопасность</span>
                <abbr class="header__abbr dec-n" title="Единый центр экономии затрат на пожарную безопасность">«ЕЦЭЗ ПБ»</abbr>
            </a>
            <span class="text header__text">Основная задача компании - экономия</span>

            <nav class="navbar__wrap">
                <div class="hamb">
                    <div class="hamb__field" id="hamb">
                        <div class="bar-menu">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="popup" id="popup">
                <ul class="nav__list">
                    <li class="nav__list-item">
                        <a asp-controller="Home" asp-action="Index" class="nav__list-link">Главная</a>
                    </li>
                    <li class="nav__list-item">
                        <a asp-controller="Navigation" asp-action="AboutUs" class="nav__list-link">О компании</a>
                    </li>
                    <li class="nav__list-item">
                        <a asp-controller="Navigation" asp-action="Price" class="nav__list-link">Прайс</a>
                    </li>
                    <li class="nav__list-item">
                        <a asp-controller="Navigation" asp-action="Contacts" class="nav__list-link">Контакты</a>
                    </li>
                    <li class="nav__list-item">
                        <a asp-controller="Navigation" asp-action="PaidConsultation" class="nav__list-link">Платная консультация</a>
                    </li>
                    <li class="nav__list-item">
                        <a asp-controller="Navigation" asp-action="MakeRequest" class="nav__list-link">Оформить заявку</a>
                    </li>
                    <li class="nav__list-item">
                        <a asp-controller="Optimization" asp-action="Design" class="nav__list-link">Оптимизация затрат на проектирование СПА</a>
                    </li>
                    <li class="nav__list-item">
                        <a asp-controller="Optimization" asp-action="Installation" class="nav__list-link">Оптимизация затрат на монтаж СПА</a>
                    </li>
                    <li class="nav__list-item">
                        <a asp-controller="Optimization" asp-action="Systems" class="nav__list-link">Оптимизация затрат на эксплуатацию СПА</a>
                    </li>
                    <li class="nav__list-item">
                        <a asp-controller="Equipment" asp-action="Index" class="nav__list-link">Проектирование и продажа современного оборудования для защита серверных, музеев, хранилищ и др. ценного оборудования</a>
                    </li>
                    <li class="nav__list-item">
                        <a asp-controller="Rent" asp-action="Index" class="nav__list-link">Аренда систем пожарной автоматики</a>
                    </li>
                    <li class="nav__list-item">
                        <a asp-controller="Outsourcing" asp-action="Index" class="nav__list-link">Аутсорсинг объектов по пожарной безопасности</a>
                    </li>
                    <li class="nav__list-item">
                        <a asp-controller="Calculations" asp-action="Index" class="nav__list-link">Расчеты по пожарной безопасности</a>
                    </li>
                    <li class="nav__list-item">
                        <a asp-controller="Help" asp-action="Index" class="nav__list-link">Сопровождение договоров Аренды, Субаренды по вопросам пожарной безопасности</a>
                    </li>
                    <li class="nav__list-item">
                        <a asp-controller="Souvenirs" asp-action="Index" class="nav__list-link">Сувенирная продукция МЧС</a>
                    </li>
                    <li class="nav__list-item">
                        <a asp-controller="ptm" asp-action="Index" class="nav__list-link">Проведение ПТМ</a>
                    </li>
                    <li class="nav__list-item">
                        <a asp-controller="Evacuation" asp-action="Index" class="nav__list-link">Планы эвакуации</a>
                    </li>
                    <li class="nav__list-item">
                        <a asp-controller="WebDevelopment" asp-action="Index" class="nav__list-link">Разработка сайтов и программ по пожарной безопасности</a>
                    </li>
                </ul>
            </div>
        </div><!-- /. header__inner -->
    </div><!-- /. container -->

    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__list-item">
                <a asp-controller="Home" asp-action="Index" class="nav__list-link">Главная</a>
            </li>
            <li class="nav__list-item">
                <a asp-controller="Navigation" asp-action="AboutUs" class="nav__list-link">О компании</a>
            </li>
            <li class="nav__list-item">
                <a asp-controller="Navigation" asp-action="Price" class="nav__list-link">Прайс</a>
            </li>
            <li class="nav__list-item">
                <a asp-controller="Navigation" asp-action="Contacts" class="nav__list-link">Контакты</a>
            </li>
            <li class="nav__list-item">
                <a asp-controller="Navigation" asp-action="PaidConsultation" class="nav__list-link">Платная консультация</a>
            </li>
            <li class="nav__list-item">
                <a asp-controller="Navigation" asp-action="MakeRequest" class="nav__list-link">Оформить заявку</a>
            </li>
        </ul>
    </nav>

</header>

