
<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="link" href="#">
                <span>Единый центр экономии затрат на пожарную безопасность</span>
                <abbr class="header__abbr dec-n" title="Единый центр экономии затрат на пожарную безопасность">«ЕЦЭЗ ПБ»</abbr>
            </a>
            <span class="text header__text">Основная задача компании - экономия</span>

            <nav class="navbar__wrap">
                <div class="hamb">
                    <div class="hamb__field" id="hamb">
                        <div class="bar-menu">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="popup" id="popup">
                <ul class="nav__list">
                    <li class="nav__list-item">
                        <a asp-controller="Home" asp-action="Index" class="nav__list-link">Главная</a>
                    </li>
                    <li class="nav__list-item">
                        <a asp-controller="Navigation" asp-action="AboutUs" class="nav__list-link">О компании</a>
                    </li>
                    <li class="nav__list-item">
                        <a asp-controller="Navigation" asp-action="Price" class="nav__list-link">Прайс</a>
                    </li>
                    <li class="nav__list-item">
                        <a asp-controller="Navigation" asp-action="Contacts" class="nav__list-link">Контакты</a>
                    </li>
                    <li class="nav__list-item">
                        <a asp-controller="Navigation" asp-action="PaidConsultation" class="nav__list-link">Платная консультация</a>
                    </li>
                    <li class="nav__list-item">
                        <a asp-controller="Navigation" asp-action="MakeRequest" class="nav__list-link">Оформить заявку</a>
                    </li>
                    <li class="nav__list-item">
                        <ul class="row">
                            <li class="list-group-item col-12 col-sm-6 col-md-3">
                                <p class="link list-group__link m-0 pb-0 fw-normal">Оптимизация затрат на системы пожарной автоматики:</p>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a class="link list-group__link nested__link" asp-controller="" asp-action="">Проектирование</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a class="link list-group__link nested__link" asp-controller="" asp-action="">Монтаж</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a class="link list-group__link nested__link" style="border-bottom: 1px solid #e4e4e4;" asp-controller="" asp-action="">Эксплуатация систем пожарной автоматики</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="list-group-item col-12 col-sm-6 col-md-3">
                                <a class="link list-group__link" asp-controller="Equipment" asp-action="Index">Проектирование и продажа современного оборудования для защита серверных, музеев, хранилищ и др. ценного оборудования</a>
                            </li>
                            <li class="list-group-item col-12 col-sm-6 col-md-3">
                                <a class="link list-group__link" asp-controller="Rent" asp-action="Index">Аренда систем пожарной автоматики</a>
                            </li>
                            <li class="list-group-item col-12 col-sm-6 col-md-3">
                                <a class="link list-group__link" asp-controller="Outsourcing" asp-action="Index">Аутсорсинг объектов по пожарной безопасности</a>
                            </li>
                            <li class="list-group-item col-12 col-sm-6 col-md-3">
                                <a class="link list-group__link" asp-controller="Calculations" asp-action="Index">Расчеты по пожарной безопасности</a>
                            </li>
                            <li class="list-group-item col-12 col-sm-6 col-md-3">
                                <a class="link list-group__link" asp-controller="Help" asp-action="Index">Сопровождение договоров Аренды, Субаренды по вопросам пожарной безопасности</a>
                            </li>
                            <li class="list-group-item col-12 col-sm-6 col-md-3">
                                <a class="link list-group__link" asp-controller="Souvenirs" asp-action="Index">Сувенирная продукция МЧС</a>
                            </li>
                            <li class="list-group-item col-12 col-sm-6 col-md-3">
                                <a class="link list-group__link" asp-controller="ptm" asp-action="Index">Проведение ПТМ</a>
                            </li>
                            <li class="list-group-item col-12 col-sm-6 col-md-3">
                                <a class="link list-group__link" asp-controller="Evacuation" asp-action="Index">Планы эвакуации</a>
                            </li>
                            <li class="list-group-item col-12 col-sm-6 col-md-3">
                                <a class="link list-group__link" asp-controller="WebDevelopment" asp-action="Index">Разработка сайтов и программ по пожарной безопасности</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /. header__inner -->
    </div><!-- /. container -->

    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__list-item">
                <a asp-controller="Home" asp-action="Index" class="nav__list-link">Главная</a>
            </li>
            <li class="nav__list-item">
                <a asp-controller="Navigation" asp-action="AboutUs" class="nav__list-link">О компании</a>
            </li>
            <li class="nav__list-item">
                <a asp-controller="Navigation" asp-action="Price" class="nav__list-link">Прайс</a>
            </li>
            <li class="nav__list-item">
                <a asp-controller="Navigation" asp-action="Contacts" class="nav__list-link">Контакты</a>
            </li>
            <li class="nav__list-item">
                <a asp-controller="Navigation" asp-action="PaidConsultation" class="nav__list-link">Платная консультация</a>
            </li>
            <li class="nav__list-item">
                <a asp-controller="Navigation" asp-action="MakeRequest" class="nav__list-link">Оформить заявку</a>
            </li>
        </ul>
    </nav>

</header>

