<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>«ПЕРЕСВЕТ-БЕЗОПАСНОСТЬ»</title>
    <link rel="stylesheet" href="~/css/general.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/items.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/price.css" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="wrapper">

        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a class="link" href="#">
                        <span>Единый центр экономии затрат на пожарную безопасность</span>
                        <abbr class="header__abbr dec-n" title="Единый центр экономии затрат на пожарную безопасность">«ЕЦЭЗ ПБ»</abbr>
                    </a>
                    <span class="text header__text">Основная задача компании - экономия</span>

                    <nav class="navbar__wrap">
                        <div class="hamb">
                            <div class="hamb__field" id="hamb">
                                <span class="bar"></span> <span class="bar"></span>
                                <span class="bar"></span>
                            </div>
                        </div>
                    </nav>
                    <div class="popup" id="popup"></div>
                </div><!-- /. header__inner -->
            </div><!-- /. container -->

            <nav class="nav">
                <ul class="nav__list" id="nav__list">
                    <li class="nav__list-item nav__list-item--active">
                        <a class="nav__list-link" href="index.html">Главная</a>
                    </li>
                    <li class="nav__list-item">
                        <a class="nav__list-link" href="aboutUs.html">О компании</a>
                    </li>
                    <li class="nav__list-item">
                        <a class="nav__list-link" href="price.html">Прайс</a>
                    </li>
                    <li class="nav__list-item">
                        <a class="nav__list-link" href="contacts.html">Контакты</a>
                    </li>
                    <li class="nav__list-item">
                        <a class="nav__list-link" href="paidConsultation.html">Платная консультация</a>
                    </li>
                    <li class="nav__list-item">
                        <a class="nav__list-link" href="makeRequest.html">Оформить заявку</a>
                    </li>
                </ul>
            </nav>

        </header>

        <main class="main">
            @RenderBody()
        </main>

        <footer class="footer">
            <div class="container">
                <div class="footer__inner">
                    <div class="footer__inner-contacts">
                        <h3>ЧУП «ПЕРЕСВЕТ-БЕЗОПАСНОСТЬ»</h3>
                        <dl>
                            <dt>Юр. адрес: </dt>
                            <dd><address>220140, г. Минск, ул. Притыцкого, д.62/1, каб.71</address></dd>

                            <dt>Email:</dt>
                            <dd>
                                <a class="link" href="mailto:peresvetby@mail.ru">peresvetby@mail.ru</a>
                            </dd>

                            <dt>Телелефон:</dt>
                            <dd>
                                <a class="link" href="tel:80296196466">8029-619-64-66</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="footer__inner-payment">
                        <h3>Реквезиты для перевода на счет:</h3>
                        <ul class="footer__inner-list">
                            <li class="footer__list-item">р/с: BY18BLNB30120000328240000933</li>
                            <li class="footer__list-item">ОАО «БНБ-Банк», <address>г. Минск, пр. Независимости, 87а,</address></li>
                            <li class="footer__list-item">БИК BLNBBY2Х</li>
                            <li class="footer__list-item">УНП 193530040</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://kit.fontawesome.com/b0d4d6d65a.js" crossorigin="anonymous"></script>
    <script src="~/js/popup.js"></script>
    <script src="~/js/window.js"></script>
</body>
</html>