@mixin title {
    font-size: 32px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@mixin title-secondary{
    @include title;
    font-size:1.25em;
}

@mixin link {
    @include title;
    color: red;
    transition: color .3s ease-in-out;
    font-size: 16px;
    &:hover {
        color: #AC0101;
    }
}

@mixin list-title {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
}

@mixin flex-content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

dl{
    margin:0 0 16px 0;
}

dt {
    @include list-title;
    margin: 0;
}

dd {
    margin:0 0 10px 0;
}

:root{
    --background:#fff;
}

html{
    box-sizing:border-box;
    height:100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    height: inherit;
    background-color: #333;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    line-height: 1.5;
    box-sizing: inherit;
}

.wrapper{
    display:flex;
    flex-direction:column;
    height:100%;
}

.promo{
    display:flex;
}

.main{
    flex-grow:1;
    background: url(../images/background-img.jpg);
    background-repeat: repeat-y;
    background-position: 100% 108px;
    background-size: 100%;
}

*,
*::before,
*::after{
    box-sizing:inherit;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

p{
    margin: 0 0 10px;
}

ul{
    padding: 0;
    margin: 0;
}

ul > li{
    list-style:none;
}

.dec-n{
    text-decoration:none;
}

.title {
    @include title;
    text-align: center;
    margin: 0 auto 10px;
}

.subtitle{
    font-size: 20px;
    font-weight: 500;
}

.text{
    font-size: 16px;
}

.list{

}

.link{
    @include link;
}

.m-0{
    margin:0;
}

/* Container */

.container{
    max-width:1400px;
    width:100%;
    margin: 0 auto;
    padding: 0 15px;
    height:auto;
}

.box{
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 12px #000;
    background-color: #fff;
    border-radius:10px;
    padding:15px;
    border: 1px solid #000;
}

/* Header */

.header{
    background-color:#fff;

}

.header__inner{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 15px 0;
}

.header__link{
    color:red;
    transition:color .3s ease-in-out;
}

.header__link:hover{
    color:#AC0101;
}

.header__text{
    font-weight: 400;
}

.nav{
    width: 100%;
    border-bottom:1px solid #000;
    border-top:1px solid #000;
}

.nav__list{
    display:flex;
}

.nav__list-item{
    width:100%;
    border-right:1px solid #000;
    cursor:pointer;
}

.nav__list-item--active{
    background-color:#cccccc;
}

.nav__list-link {
    @include title-secondary;
    @include flex-content-center;
    height: 100%;
    padding: 0.625em 0.93em;
    text-align: center;
    color: inherit;
    text-decoration: none;
    transition: color .3s ease-in-out;
}

.nav__list-item:hover .nav__list-link{
    color:#FF0000;
}

.nav__list-item--active:hover > .nav__list-link{
    color:#000;
}

.navbar__wrap {
    display: none;
    justify-content: space-between;
    height: 100%;
}

.popup{
    display:none;
}

.hamb {
    display: none;
}

/* /. Header */

/* Footer */

.footer {
    background-color: var(--background);
    padding: 20px 0;
    border-top: 1px solid #000;
}

.footer__inner{
    display:flex;
    justify-content: space-between;
}

.footer__inner-contacts{

}

.footer__title{
    @include title-secondary;
    margin-bottom:16px;
}

.footer__inner-list{

}

.footer__inner-title{

}

.footer__inner-desc:last-child{
    margin:0;
}


.footer__inner-payment{

}

.footer__inner-list{
    padding: 0;
}

.footer__list-item{
    list-style:none;
}

/* /. Footer */

/* Media */

@media (max-width:1200px){

    .link{
        display: inline-block;
        padding: 5px 5px 5px 0;
    }

    .header__inner > .link{
        padding: 0;
    }
}

@media (max-width:900px){

    body.noscroll{
        overflow: hidden;
    }

    .wrapper{
        padding-top: 80px;
    }

    .header{
        position:fixed;
        top:0;
        left:0;
        right:0;
        border-bottom:1px solid #000;
    }

    .header__text{
        display:none;
    }

    .navbar__wrap{
        display:flex;
    }

    .hamb {
        display: flex;
        align-items: center;
    }

    .hamb__field {
        
    }

    .cross {
        @include flex-content-center;
        display: none;
        cursor: pointer;
        width: 30px;
        height: 30px;
        scale: 2.5;
    }

    .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 6px auto;
        background-color: #000;
        transition: 0.2s;
        border-radius:5px;
    }

    .popup {
        position: fixed;
        top: 82px;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 100;
        display: flex;
        transition: 0.3s;
    }

    .popup.open {
        left: 0;
    }

    .popup .nav__list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding:0;
        overflow: auto;
    }

    .popup .nav__list .nav__list-item {
        width: 100%;
        border-bottom:1px solid #000;
        border-right:0;
    }

    .popup .nav__list .nav__list-item:nth-child(1) {
        border-top:1px solid #000;
    }

    .popup .nav__list .nav__list-item:hover {

    }

    .popup .nav__list .nav__list-item .nav__list-link {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        font-size: 20px;
        font-weight: bold;
        color: #000;
        transition:color .3s ease-in-out;
    }

    .popup .nav__list-item .nav__list-link:hover {
        color:#FF0000;
    }

    .popup .nav__list-item--active .nav__list-link:hover {
        color:#000;
    }

    .hamb__field.active .cross {
        @include flex-content-center;
    }



    .nav{
        border:0;
    }

    .nav__list{
        display:none;
    }

}

@media (max-width:768px){

    body{
        line-height:1.3;
    }

    .subtitle{
        font-size: 16px;
    }

    .title{
        font-size: 26px;
    }

    .header__inner > .link{
        font-size: 14px;
    }

    .footer__inner{
        flex-direction:column;
    }

}

@media (max-width:576px){

    .title{
        font-size: 23px;
    }

    .header__inner > .link {
        font-size: 12px;
    }

}
