@{
    Layout = "_Layout.cshtml";
}

<section class="evacuation">
    <div class="container box page">
        <h1 class="title">Планы эвакуации</h1>
        <p class="text">
            Разрабатываем планы эвакуации при пожаре согласно действующих норм.
            (на бумаге формата А3; в ламинированном варианте формата формата А3; на пластике. Срок изготовления от 2 дней при условии предоставления необходимых данных в электронном варианте). Возможен вариант сбора информации непосредственно на объекте.
        </p>
        <p class="text">
            Сформировать заявку Вы можете <span>
                позвонив нам по тел.
                <a href="tel:80296196466">8029-619-64-66</a>
                либо направить на эл. почту :
                <a href="mailto:peresvetby@mail.ru">peresvetby@mail.ru</a>
            </span>
            заполненную заявку.
            <a href="#"><i>(Оформить заявку)</i>.</a>
            <a href="#"><i>(Оформить заявку)</i>.</a>
        </p>
        <figure class="algorithm">
            <figcaption class="algorithm__caption">
                <b>Заявка на изготовление планов эвакуации</b>
            </figcaption>
            <ol class="algorithm__list">
                <li class="algorithm__list-item">
                    Адрес объекта
                </li>
                <li class="algorithm__list-item">
                    Наличие актуальной планировки объекта в формате PDF, Автокаде:
                </li>
                <li class="algorithm__list-item">
                    Площадь здания (этажа)
                </li>
                <li class="algorithm__list-item">
                    Кол-во этажей
                </li>
                <li class="algorithm__list-item">
                    Сроки разработки планров:
                </li>
                <li class="algorithm__list-item">
                    Условия оплаты
                </li>
                <li class="algorithm__list-item">
                    Конт. тел. Заказчика
                </li>
                <li class="algorithm__list-item">
                    Конт. данные Заказчика
                </li>
            </ol>
        </figure>
        <p class="text m-0">
            <b>Стоимость услуг от 40 бел.  руб.</b>
        </p>
    </div><!-- /.container -->
</section>