@{
    Layout = "_Layout";
}

<h1 class="title">О компании</h1>
<p class="text m-0">
    Частное унитарное предприятие по оказанию услуг «ПЕРЕСВЕТ-БЕЗОПАСНОСТЬ»;<br>
    УНП 193530040, <br>
    эл. почта: <a class="link" href="mailto:peresvetby@mail.ru">peresvetby@mail.ru</a>;<br>
    время работы: 9.00-18.00<br>
    Контактные тел.:80296196466.<br>
    Юр. адрес:<address>г. Минск, ул. Притыцкого, 62/1, каб. 71</address>
</p>
