@{
    Layout = "_Layout";
}

<h1 class="title">Контакты</h1>
<p class="text m-0">
    Эл. почта: <a class="link" href="mailto:peresvetby@mail.ru">peresvetby@mail.ru</a>;<br>
    Контактный тел.:80296196466.<br>
</p>


