@{
    Layout = "_Layout";
}

<h1 class="title">Платная консультация</h1>
<form>
    <div class="form-group mb-3">
        <label for="exampleInputEmail1">Email почта:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите email">
    </div>
    <div class="form-group mb-3">
        <label for="exampleInputPassword1">Номер телефона:</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Телефон">
    </div>
    <div class="form-group mb-3">
        <label for="exampleInputPassword1">Местонахождение заявителя:</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Местонахождение">
    </div>
    <div class="form-group mb-3">
        <label for="exampleFormControlTextarea1">Ваш вопрос:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="9" placeholder="Подробно опишите свой вопрос ..."></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
