


<h1 class="title m-0">Проведение ПТМ</h1>
<ol class="algorithm__list">
    <li class="algorithm__list-item">
        проведение ПТМ с выдачей талона установленного образца;
    </li>
    <li class="algorithm__list-item">
        проведение вводного, первичного, повторного  п/п  инструктажей;
    </li>
    <li class="algorithm__list-item">
        обучение правилам работы с первичными средствами пожаротушения.
    </li>
</ol>
<p class="text">
    Сформировать заявку Вы можете <span>
        позвонив нам по тел.
        <a href="tel:80296196466">8029-619-64-66</a>
        либо направить на эл. почту :
        <a href="mailto:peresvetby@mail.ru">peresvetby@mail.ru</a>
    </span>
    заполненную заявку.
    <a href="#"><i>(Оформить заявку)</i>.</a>
</p>
<figure class="algorithm">
    <figcaption class="algorithm__caption">
        <b>Заявка на проведение ПТМ</b>
    </figcaption>
    <ol class="algorithm__list">
        <li class="algorithm__list-item">
            Адрес объекта
        </li>
        <li class="algorithm__list-item">
            Кол-во человек
        </li>
        <li class="algorithm__list-item">
            Условия оплаты
        </li>
        <li class="algorithm__list-item">
            Конт. тел. Заказчика
        </li>
        <li class="algorithm__list-item">
            Конт. данные Заказчика
        </li>
    </ol>
</figure>
<p class="text m-0">
    <b>Стоимость услуг. Стоимость услуг: от 10 чел. - 20 руб./чел., до 10 чел. – 40 руб.  Стоимость талона включена</b>
</p>
