<h1 class="title">Аутсорсинг объектов по пожарной безопасности</h1>
<p class="text">
    Аутсорсинг объектов по пожарной безопасности – это оказание комплекса услуг по пожарной безопасности Заказчику, необходимых для безопасной эксплуатации объекта.
</p>
<figure class="algorithm">
    <figcaption class="algorithm__caption">ЕЦЭЗ ПБ оказывает услуги:</figcaption>
    <ol class="algorithm__list">
        <li class="algorithm__list-item">
            юридическое сопровождение заключаемых договоров в части обеспечения пожарной безопасности при эксплуатации здания, договоров аренды технического обслуживания и т.д.;
        </li>
        <li class="algorithm__list-item">
            техническое сопровождение;
        </li>
        <li class="algorithm__list-item">
            организационное сопровождение;
        </li>
        <li class="algorithm__list-item">
            взаимодействие с контрольными органами;
        </li>
        <li class="algorithm__list-item">
            контроль подрядных организаций;
        </li>
        <li class="algorithm__list-item">
            оптимизация затрат на обеспечение пожарной безопасности.
        </li>
    </ol>
</figure>
<p class="text">
    Подготовка независимого отчета о состоянии ПБ объекта  - проведение комплексного изучения объекта по вопросам связанным с обеспечением пожарной безопасности с конкретными предложениями и Заключением.
</p>
<p class="text">
    Сформировать заявку Вы можете <span>
        позвонив нам по тел.
        <a href="tel:80296196466">8029-619-64-66</a>
        либо направить на эл. почту :
        <a href="mailto:peresvetby@mail.ru">peresvetby@mail.ru</a>
    </span>
    заполненную заявку.
    <a href="#"><i>(Оформить заявку)</i>.</a>
</p>
<figure class="algorithm">
    <figcaption class="algorithm__caption">
        <b>Заявка на Аутсорсинг объекта по вопросам пожарной безопасности</b>
    </figcaption>
    <ol class="algorithm__list">
        <li class="algorithm__list-item">
            Название организации
        </li>
        <li class="algorithm__list-item">
            Функциональное назначение объекта (ов), краткая характеристика
        </li>
        <li class="algorithm__list-item">
            Штат организации
        </li>
        <li class="algorithm__list-item">
            Площадь объекта
        </li>
        <li class="algorithm__list-item">
            Конт. данные Заказчика
        </li>
    </ol>
</figure>
<p class="text">
    <b>Стоимость услуг: от 1000 бел. руб. </b>
</p>
<p class="text m-0">Стоимость услуг формируется после изучения и согласования объема работ, рассчитывается в каждом случае индивидуально исходя из особенностей Заказчика.</p>
