@model Peresvet_Project.Models.RequestModel

<h1 class="title">Проектирование систем пожарной автоматики</h1>
<p class="text">
    1. <b>Проектирование систем пожарной автоматики</b> — это лицензионный вид деятельности, первоначальный и самый важный этап создания систем. <b>Оптимизация затрат на проектирование систем пожарной автоматики – это формирование минимальной цены на услуги проектирования систем пожарной автоматики исходя из особенностей объекта.</b> Средняя стоимость проектирования систем пожарной сигнализации на рынке Беларуси сформирована на уровне от 1 бел. руб. за метр квадратный. ЕЦЭЗ ПБ оказывает услуги по снижению цены на проектирования систем пожарной сигнализации ниже рыночной до 50 %.
</p>
<figure class="algorithm">
    <figcaption class="algorithm__caption">Работаем по следующему алгоритму:</figcaption>
    <ol class="algorithm__list">
        <li class="algorithm__list-item text">
            Совместно с Заказчиком формируем техническое задание на проектирование систем пожарной автоматики на основании предоставленной Заявки.
        </li>
        <li class="algorithm__list-item text">
            Заключаем договор на предоставление услуги <i>(оплата Заказчиком производится только по факту выполненной услуги).</i>
        </li>
        <li class="algorithm__list-item text">
            Предоставляем Заказчику сформированную цену на услуги проектирования. Если предоставленная цена не удовлетворяет Заказчика, Договор расторгается без взаимных претензий.
        </li>
        <li class="algorithm__list-item text">
            Юридически сопровождаем и консультируем Заказчика при заключении договора на услуги проектирования между Заказчиком и Подрядчиком.
        </li>
    </ol>
</figure>
<p class="text">
    Сформировать заявку Вы можете
    <span>
        позвонив нам по тел.
        <a href="tel:80296196466">8029-619-64-66</a>
        либо заполнить у нас на сайте.
    </span>
</p>
    
<div class="request">
    <b>
        Чтобы оформить заявку для проектирования пожарной автоматики, нажмите на кнопку:
    </b>
    <button class="btn btn-primary request__btn request__btn--open">Оформить заявку</button>

    <div class="request__window">
        <div class="request__inner">

            <h2 class="title">Форма заявки</h2>

            <form asp-controller="Home" asp-action="MakeRequest" enctype="multipart/form-data">
                <div class="form-group mb-3">
                    <label asp-for="Address">Адрес объекта:</label>
                    <input type="text" class="form-control" asp-for="Address">
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="RequiredSystems">Требуемые системы на объекте:</label>
                    <input type="text" class="form-control" asp-for="RequiredSystems">
                    <span asp-validation-for="RequiredSystems" class="text-danger"></span>
                </div>
                <div class="custom-file mb-3">
                    <div class="mb-3">
                        <label asp-for="LayoutFile" class="form-label">Наличие актуальной планировки объекта в формате PDF, Автокаде:</label>
                        <input class="form-control" type="file" asp-for="LayoutFile">
                        <span asp-validation-for="LayoutFile" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="TechnicalSpecification">Наличие разработанной ТХ:</label>
                    <input type="text" class="form-control" asp-for="TechnicalSpecification">
                    <span asp-validation-for="TechnicalSpecification" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="FunctionalPurpose">Функциональное назначение объекта, общая характеристика объекта, что представляет собой здание (помещение):</label>
                    <textarea class="form-control" asp-for="FunctionalPurpose" rows="3"></textarea>
                    <span asp-validation-for="FunctionalPurpose" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="BuildingArea">Общая площадь здания (помещений):</label>
                    <input type="number" class="form-control" asp-for="BuildingArea">
                    <span asp-validation-for="BuildingArea" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="NumberOfFloors">Кол-во этажей:</label>
                    <input type="number" class="form-control" asp-for="NumberOfFloors">
                    <span asp-validation-for="NumberOfFloors" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Отправить заявку</button>
            </form>

            <button class="request__btn request__btn-close" aria-label="Close">
                <span class="request__btn-close-icon">&times;</span>
            </button>
        </div>

    </div><!-- /.request__window -->

    

</div><!-- /. request -->


<p class="text m-0">
    <b>Стоимость услуги составляет 200 бел. руб. при общей площади объекта до 1000 м.кв, при площади более 1000 м.кв. – 50% от экономии средств Заказчика.</b>
</p>
