@{
    Layout = "_Layout.cshtml";
}

<section class="montage">
    <div class="container box page">
        <h1 class="title">Монтаж систем пожарной автоматики </h1>
        <p class="text">
            2. <b>Монтаж систем пожарной автоматики </b>— это лицензионный вид деятельности. Монтажные организации работают строго по проекту. Вместе с тем цена работ на монтаж систем пожарной автоматики формируется из: стоимости работ, стоимости материалов и оборудования, доп. затрат организации, учитывая особенности объекта и может отличатся по цене на рынке в разы. Важным этапом при монтаже является сдача системы в эксплуатацию с участием представителя МЧС.<b>Оптимизация затрат на монтаж систем пожарной автоматики – это оборудование системой пожарной автоматики объекта с минимальными затратами, исходя из особенностей объекта и сдачей системы в эксплуатацию с участием представителя МЧС. </b>
            ЕЦЭЗ ПБ оказывает услуги по формированию минимальной цены на монтаж систем пожарной сигнализации.
        </p>
        <figure class="algorithm">
            <figcaption class="algorithm__caption">Работаем по следующему алгоритму:</figcaption>
            <ol class="algorithm__list">
                <li class="algorithm__list-item">
                    Заказчик предоставляет проект на систему пожарной автоматики.
                </li>
                <li class="algorithm__list-item">
                    Заключаем договор на предоставление услуги <i>(оплата Заказчиком производится только по факту выполненной услуги).</i>
                </li>
                <li class="algorithm__list-item">
                    Совместно с Заказчиком формируем задание на монтаж систем автоматики исходя из проектного решения.
                </li>
                <li class="algorithm__list-item">
                    Предоставляем Заказчику сформированную цену на монтаж систем пожарной автоматики учитывая особенности объекта. Если предоставленная цена не удовлетворяет Заказчика, Договор расторгается без взаимных претензий.
                </li>
                <li class="algorithm__list-item">
                    Юридически сопровождаем и консультируем Заказчика при заключении договора на монтаж систем между Заказчиком и Подрядчиком.
                </li>
            </ol>
        </figure>
        <p class="text">
            Сформировать заявку Вы можете <span>
                позвонив нам по тел.
                <a href="tel:80296196466">8029-619-64-66</a>
                либо направить на эл. почту :
                <a href="mailto:peresvetby@mail.ru">peresvetby@mail.ru</a>
            </span>
            заполненную заявку.
        </p>
        <figure class="algorithm">
            <figcaption class="algorithm__caption">
                <b>Образец Заявки для формирование технического задания на проектирование систем пожарной автоматики.</b>
            </figcaption>
            <ol class="algorithm__list">
                <li class="algorithm__list-item">
                    Адрес объекта
                </li>
                <li class="algorithm__list-item">
                    Требуемые системы автоматики на объекте
                </li>
                <li class="algorithm__list-item">
                    Функциональное назначение здания
                </li>
                <li class="algorithm__list-item">
                    Год постройки здания, характеристика стен и перекрытий
                </li>
                <li class="algorithm__list-item">
                    Состояние объекта (новый, действующий, ремонт…)
                </li>
                <li class="algorithm__list-item">
                    Высота потолков
                </li>
                <li class="algorithm__list-item">
                    Этажность
                </li>
                <li class="algorithm__list-item">
                    Время проведения работ (в течение раб. дня, ночью, выходные…)
                </li>
                <li class="algorithm__list-item">
                    Когда и кем разработан проект
                </li>
                <li class="algorithm__list-item">
                    Наличие старой системы, необ. демонтажа
                </li>
                <li class="algorithm__list-item">
                    Конт. данные заказчика
                </li>
            </ol>
        </figure>
        <p class="text m-0">
            <b>Стоимость услуги составляет 300 бел. руб. при общей площади объекта до 1000 м.кв, при площади более 1000 м.кв. – 50% от экономии средств Заказчика.</b>
        </p>
    </div><!-- /.container -->
</section>
       