@model Peresvet_Project.Models.RequestModel

<h1 class="title">Монтаж систем пожарной автоматики </h1>
<p class="text">
    2. <b>Монтаж систем пожарной автоматики </b>— это лицензионный вид деятельности. Монтажные организации работают строго по проекту. Вместе с тем цена работ на монтаж систем пожарной автоматики формируется из: стоимости работ, стоимости материалов и оборудования, доп. затрат организации, учитывая особенности объекта и может отличатся по цене на рынке в разы. Важным этапом при монтаже является сдача системы в эксплуатацию с участием представителя МЧС.<b>Оптимизация затрат на монтаж систем пожарной автоматики – это оборудование системой пожарной автоматики объекта с минимальными затратами, исходя из особенностей объекта и сдачей системы в эксплуатацию с участием представителя МЧС. </b>
    ЕЦЭЗ ПБ оказывает услуги по формированию минимальной цены на монтаж систем пожарной сигнализации.
</p>
<figure class="algorithm">
    <figcaption class="algorithm__caption">Работаем по следующему алгоритму:</figcaption>
    <ol class="algorithm__list">
        <li class="algorithm__list-item">
            Заказчик предоставляет проект на систему пожарной автоматики.
        </li>
        <li class="algorithm__list-item">
            Заключаем договор на предоставление услуги <i>(оплата Заказчиком производится только по факту выполненной услуги).</i>
        </li>
        <li class="algorithm__list-item">
            Совместно с Заказчиком формируем задание на монтаж систем автоматики исходя из проектного решения.
        </li>
        <li class="algorithm__list-item">
            Предоставляем Заказчику сформированную цену на монтаж систем пожарной автоматики учитывая особенности объекта. Если предоставленная цена не удовлетворяет Заказчика, Договор расторгается без взаимных претензий.
        </li>
        <li class="algorithm__list-item">
            Юридически сопровождаем и консультируем Заказчика при заключении договора на монтаж систем между Заказчиком и Подрядчиком.
        </li>
    </ol>
</figure>
<p class="text">
    Сформировать заявку Вы можете <span>
        позвонив нам по тел.
        <a href="tel:80296196466">8029-619-64-66</a>
        либо заполнить у нас на сайте:
        <button class="btn btn-primary request__btn request__btn--open">Оформить заявку</button>

        <div class="request__window">
            <div class="request__inner">

                <h2 class="title">Форма заявки</h2>

                <form asp-controller="Home" asp-action="MakeRequest" enctype="multipart/form-data">
                    <div class="form-group mb-3">
                        <label asp-for="Address">Адрес объекта:</label>
                        <input type="text" class="form-control" asp-for="Address">
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="RequiredSystems">Требуемые системы автоматики на объекте:</label>
                        <input type="text" class="form-control" asp-for="RequiredSystems">
                        <span asp-validation-for="RequiredSystems" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="FunctionalPurpose">Функциональное назначение здания:</label>
                        <textarea class="form-control" asp-for="FunctionalPurpose" rows="3"></textarea>
                        <span asp-validation-for="FunctionalPurpose" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="BuildingCharacteristics">Год постройки здания, характеристика стен и перекрытий:</label>
                        <textarea class="form-control" asp-for="BuildingCharacteristics" rows="3"></textarea>
                        <span asp-validation-for="BuildingCharacteristics" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="BuildingCondition">Состояние объекта (новый, действующий, ремонт…):</label>
                        <textarea class="form-control" asp-for="BuildingCondition" rows="3"></textarea>
                        <span asp-validation-for="BuildingCondition" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="CeilingHeight">Высота потолков:</label>
                        <input type="number" class="form-control" asp-for="CeilingHeight">
                        <span asp-validation-for="CeilingHeight" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="BuildingArea">Общая площадь здания (помещений):</label>
                        <input type="number" class="form-control" asp-for="BuildingArea">
                        <span asp-validation-for="BuildingArea" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="NumberOfFloors">Кол-во этажей:</label>
                        <input type="number" class="form-control" asp-for="NumberOfFloors">
                        <span asp-validation-for="NumberOfFloors" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="WorkSchedule">Время проведения работ (в течение раб. дня, ночью, выходные…):</label>
                        <input type="text" class="form-control" asp-for="WorkSchedule">
                        <span asp-validation-for="WorkSchedule" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="ProjectDeveloper">Когда и кем разработан проект:</label>
                        <input type="text" class="form-control" asp-for="ProjectDeveloper">
                        <span asp-validation-for="ProjectDeveloper" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="OldSystemInfo">Наличие старой системы, необ. демонтажа:</label>
                        <input type="text" class="form-control" asp-for="OldSystemInfo">
                        <span asp-validation-for="OldSystemInfo" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="CustomerContacts">Конт. данные заказчика:</label>
                        <input type="text" class="form-control" asp-for="CustomerContacts">
                        <span asp-validation-for="CustomerContacts" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="LayoutFile">Наличие актуальной планировки объекта в формате PDF, Автокаде:</label>
                        <input class="form-control" type="file" asp-for="LayoutFile">
                        <span asp-validation-for="LayoutFile" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="TechnicalSpecification">Наличие разработанной ТХ:</label>
                        <input type="text" class="form-control" asp-for="TechnicalSpecification">
                        <span asp-validation-for="TechnicalSpecification" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Отправить заявку</button>
                </form>

                <button class="request__btn request__btn-close" aria-label="Close">
                    <span class="request__btn-close-icon">&times;</span>
                </button>
            </div>

        </div><!-- /.request__window -->

    </span>

</p>

<p class="text m-0">
    <b>Стоимость услуги составляет 300 бел. руб. при общей площади объекта до 1000 м.кв, при площади более 1000 м.кв. – 50% от экономии средств Заказчика.</b>
</p>
       