@{
    Layout = "_Layout";
}

<h1 class="title">Монтаж систем пожарной автоматики </h1>
<p class="text">
    2. <b>Монтаж систем пожарной автоматики </b>— это лицензионный вид деятельности. Монтажные организации работают строго по проекту. Вместе с тем цена работ на монтаж систем пожарной автоматики формируется из: стоимости работ, стоимости материалов и оборудования, доп. затрат организации, учитывая особенности объекта и может отличатся по цене на рынке в разы. Важным этапом при монтаже является сдача системы в эксплуатацию с участием представителя МЧС.<b>Оптимизация затрат на монтаж систем пожарной автоматики – это оборудование системой пожарной автоматики объекта с минимальными затратами, исходя из особенностей объекта и сдачей системы в эксплуатацию с участием представителя МЧС. </b>
    ЕЦЭЗ ПБ оказывает услуги по формированию минимальной цены на монтаж систем пожарной сигнализации.
</p>
<figure class="algorithm">
    <figcaption class="algorithm__caption">Работаем по следующему алгоритму:</figcaption>
    <ol class="algorithm__list">
        <li class="algorithm__list-item">
            Заказчик предоставляет проект на систему пожарной автоматики.
        </li>
        <li class="algorithm__list-item">
            Заключаем договор на предоставление услуги <i>(оплата Заказчиком производится только по факту выполненной услуги).</i>
        </li>
        <li class="algorithm__list-item">
            Совместно с Заказчиком формируем задание на монтаж систем автоматики исходя из проектного решения.
        </li>
        <li class="algorithm__list-item">
            Предоставляем Заказчику сформированную цену на монтаж систем пожарной автоматики учитывая особенности объекта. Если предоставленная цена не удовлетворяет Заказчика, Договор расторгается без взаимных претензий.
        </li>
        <li class="algorithm__list-item">
            Юридически сопровождаем и консультируем Заказчика при заключении договора на монтаж систем между Заказчиком и Подрядчиком.
        </li>
    </ol>
</figure>
<p class="text">
    Сформировать заявку Вы можете <span>
        позвонив нам по тел.
        <a href="tel:80296196466">8029-619-64-66</a>
        либо заполнить у нас на сайте:
        <button class="btn btn-primary request__btn request__btn--open">Оформить заявку</button>

        <div class="request__window">
            <div class="request__inner">

                <h2 class="title">Форма заявки</h2>

                <form asp-controller="Home" asp-action="MakeRequest">
                    <div class="form-group mb-3">
                        <label for="inputAddress2">Адрес объекта:</label>
                        <input type="text" class="form-control" id="inputAddress2">
                    </div>

                    <div class="form-group mb-3">
                        <label for="exampleInputContent">Требуемые системы автоматики на объекте:</label>
                        <input type="text" class="form-control" id="exampleInputContent">
                    </div>

                    <div class="form-group mb-3">
                        <label for="exampleFormControlTextarea1">Функциональное назначение здания:</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="exampleFormCharacter">Год постройки здания, характеристика стен и перекрытий:</label>
                        <textarea class="form-control" id="exampleFormCharacter" rows="3"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="exampleFormState">Состояние объекта (новый, действующий, ремонт…):</label>
                        <textarea class="form-control" id="exampleFormState" rows="3"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="exampleInputHeight">Высота потолков:</label>
                        <input type="number" class="form-control" id="exampleInputHeight">
                    </div>
                    <div class="form-group mb-3">
                        <label for="exampleInputFloors">Кол-во этажей:</label>
                        <input type="number" class="form-control" id="exampleInputFloors">
                    </div>
                    <div class="form-group mb-3">
                        <label for="exampleInputTime">Время проведения работ (в течение раб. дня, ночью, выходные…):</label>
                        <input type="text" class="form-control" id="exampleInputTime">
                    </div>
                    <div class="form-group mb-3">
                        <label for="exampleInputDeveloper">Когда и кем разработан проект:</label>
                        <input type="text" class="form-control" id="exampleInputDeveloper">
                    </div>
                    <div class="form-group mb-3">
                        <label for="exampleInputDemontage">Наличие старой системы, необ. демонтажа:</label>
                        <input type="text" class="form-control" id="exampleInputDemontage">
                    </div>
                    <div class="form-group mb-3">
                        <label for="exampleInputContacts">Конт. данные заказчика:</label>
                        <input type="text" class="form-control" id="exampleInputContacts">
                    </div>

                    <button type="submit" class="btn btn-primary">Отправить заявку</button>
                </form>

                <button class="request__btn request__btn-close" aria-label="Close">
                    <span class="request__btn-close-icon">&times;</span>
                </button>
            </div>

        </div><!-- /.request__window -->

    </span>

</p>
<figure class="algorithm">
    <figcaption class="algorithm__caption">
        <b>Образец Заявки для формирование технического задания на проектирование систем пожарной автоматики.</b>
    </figcaption>
    <ol class="algorithm__list">
        <li class="algorithm__list-item">
            Адрес объекта
        </li>
        <li class="algorithm__list-item">
            Требуемые системы автоматики на объекте
        </li>
        <li class="algorithm__list-item">
            Функциональное назначение здания
        </li>
        <li class="algorithm__list-item">
            Год постройки здания, характеристика стен и перекрытий
        </li>
        <li class="algorithm__list-item">
            Состояние объекта (новый, действующий, ремонт…)
        </li>
        <li class="algorithm__list-item">
            Высота потолков
        </li>
        <li class="algorithm__list-item">
            Этажность
        </li>
        <li class="algorithm__list-item">
            Время проведения работ (в течение раб. дня, ночью, выходные…)
        </li>
        <li class="algorithm__list-item">
            Когда и кем разработан проект
        </li>
        <li class="algorithm__list-item">
            Наличие старой системы, необ. демонтажа
        </li>
        <li class="algorithm__list-item">
            Конт. данные заказчика
        </li>
    </ol>
</figure>
<p class="text m-0">
    <b>Стоимость услуги составляет 300 бел. руб. при общей площади объекта до 1000 м.кв, при площади более 1000 м.кв. – 50% от экономии средств Заказчика.</b>
</p>
       