section{
    padding: 10px 0;
}

.page{
    width: calc(100% - 20px);
    height:100%;
}

/* Main */

.algorithm{
    margin: 0;
}

.algorithm__caption{

}

.algorithm__list{
    padding: 10px;
    padding-left: 18px;
    margin: 0;
}

.algorithm__list-item{

}

.request{

}

.request__btn{
    padding: 5px 10px;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
}

.request__btn-close{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 8px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    font-size: 32px;
}

.request__btn--open{

}

.request__btn--send{
    
}

.request__window{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.request__window--active{
    display: flex;
}

.request__window::before{
    content: '';
    display: block;
    position: fixed;
    background-color: #000;
    opacity: 0.75;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
}

.request__wrapper{
    width:800px;
    height: 1000px;
    display: flex;
    justify-content: start;
    align-items: end;
}   

.request__inner{
    position:relative;
    width:700px;
    height: 900px;
    padding: 40px;
    background-color: #fff;
    border-radius: 15px;
}

.request__form{
    display: flex;
    flex-direction: column;
}

.request__label{
    font-size: 16px;
}

.request__input{
    margin: 0;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
}

/* /. Main */

/* Media */

@media(max-width:576px){
    .algorithm__list {
        padding: 10px;
        padding-left: 20px;
    }
}
