@model Peresvet_Project.Models.RequestModel

<h1 class="title">Аренда систем пожарной автоматики.</h1>
<p class="text">
    1. ЕЦЭЗ ПБ предлагает услуги по аренде систем пожарной сигнализации и оповещения о пожаре, а также систем раннего обнаружения пожара основанных на аспирационных датчиках для защиты уникальных и имеющих особую важность объектов (серверные, архивы, музеи и т.д.<i>Ссылка на работу аспирационного датчика</i>) Если у Вас существует потребность в оборудовании своего здания, помещений системой пожарной сигнализации и оповещения о пожаре, при этом Вы не готовы сделать значительные финансовые вложения на данном этапе, Мы поможем обеспечить требуемую безопасность объекта предоставив в аренду системы на взаимовыгодных условиях.

</p>
<figure class="algorithm">
    <figcaption class="algorithm__caption">Мы работаем по следующему алгоритму:</figcaption>
    <ol class="algorithm__list">
        <li class="algorithm__list-item">
            Формирование и рассмотрение заявки на Аренду систем пожарной автоматики.
        </li>
        <li class="algorithm__list-item">
            Заключение договора на Аренду системы пожарной автоматики.
        </li>
        <li class="algorithm__list-item">
            Монтаж систем пожарной автоматики на объекте с разработкой необходимой документации и вводом системы пожарной автоматики в эксплуатацию с участием представителя МЧС.
        </li>
        <li class="algorithm__list-item">
            Передача систем пожарной автоматики собственнику.
        </li>
        <li class="algorithm__list-item">
            Оказание юридического сопровождения и консультаций при заключении договоров на техническое обслуживание систем автоматики, а также сопровождение качества технического обслуживания систем автоматики подрядной организацией (По необходимости).
        </li>
    </ol>
</figure>
<p class="text">
    Сформировать заявку Вы можете <span>
        позвонив нам по тел.
        <a href="tel:80296196466">8029-619-64-66</a>
        либо заполнив у нас на сайте :
        <button class="btn btn-primary request__btn request__btn--open">Оформить заявку</button>
    </span>
</p>

<div class="request__window">
    <div class="request__inner">

        <h2 class="title">Форма заявки</h2>

        <form asp-controller="Home" asp-action="MakeRequest" enctype="multipart/form-data">
            <div class="form-group mb-3">
                <label asp-for="Address">Адрес объекта:</label>
                <input type="text" class="form-control" asp-for="Address">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="FunctionalPurpose">Функциональное назначение объекта, общая характеристика объекта, что представляет собой здание (помещение):</label>
                <textarea class="form-control" asp-for="FunctionalPurpose" rows="3"></textarea>
                <span asp-validation-for="FunctionalPurpose" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="RequiredSystems">Требуемые системы автоматики на объекте:</label>
                <input type="text" class="form-control" asp-for="RequiredSystems">
                <span asp-validation-for="RequiredSystems" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ProjectAvailability">Наличие проектов на системы:</label>
                <input type="text" class="form-control" asp-for="ProjectAvailability">
                <span asp-validation-for="ProjectAvailability" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ProjectTimeline">Сроки реализации проекта:</label>
                <input type="text" class="form-control" asp-for="ProjectTimeline">
                <span asp-validation-for="ProjectTimeline" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="CustomerContacts">Конт. данные заказчика (почта и телефон):</label>
                <input type="text" class="form-control" asp-for="CustomerContacts">
                <span asp-validation-for="CustomerContacts" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Отправить заявку</button>
        </form>

        <button class="request__btn request__btn-close" aria-label="Close">
            <span class="request__btn-close-icon">&times;</span>
        </button>
    </div>

</div><!-- /.request__window -->


@* <figure class="algorithm">
    <figcaption class="algorithm__caption">
        <b>Заявка на Аренду систем пожарной автоматики</b>
    </figcaption>
    <ol class="algorithm__list">
        <li class="algorithm__list-item">
            Адрес объекта
        </li>
        <li class="algorithm__list-item">
            Функциональное назначение здания
        </li>
        <li class="algorithm__list-item">
            Требуемые системы автоматики на объекте
        </li>
        <li class="algorithm__list-item">
            Наличие проектов на системы
        </li>
        <li class="algorithm__list-item">
            Сроки реализации проекта
        </li>
        <li class="algorithm__list-item">
            Конт. данные Заказчика
        </li>
        <li class="algorithm__list-item">
            Конт. тел. Заказчика
        </li>
    </ol>
</figure> *@
<p class="text m-0">
    <b>Стоимость услуг : стоимость аренды систем автоматики напрямую зависит от стоимости систем и периода аренды, рассчитывается в каждом случае индивидуально. Возможно предоставления дополнительных бонусов. </b>
</p>
