@{
    Layout = "_Layout";
}

<section class="info">
    <div class="container">
        <div class="box">
            <h2 class="subtitle">
                <abbr class="dec-n" title="subtitle">ЕЦЭЗ ПБ</abbr>
                – единый центр экономии затрат по пожарной безопасности. Основное направление компании – экономия затрат на мероприятия по обеспечению пожарной безопасности при строительстве, вводе и эксплуатации объектов различного функционального назначения.
            </h2>
        </div>
    </div>
</section>

<section class="promo">
    <div class="container">
        <div class="promo__inner">
            <div class="promo__inner-ways">
                <h1 class="title box">Основные направления компании:</h1>
                <ul class="promo__list">
                    <li class="box">
                        <h2 class="subtitle">1. Оптимизация затрат на системы пожарной автоматики:</h2>
                        <ul class="list">
                            <li class="text">
                                Проектирование.
                                <a asp-controller="Ways" asp-action="Designing" class="link">
                                    (Подробнее)
                                </a>
                            </li>
                            <li class="text">
                                Монтаж.
                                <a class="link" href="mainWays/montage.html">
                                    (Подробнее)
                                </a>
                            </li>
                            <li class="text">
                                Эксплуатация систем пожарной автоматики.
                                <a class="link" href="mainWays/service.html">
                                    (Подробнее)
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="box">
                        <h2 class="subtitle">2. Проектирование и продажа современного оборудования для защита серверных, музеев, хранилищ и др. ценного оборудования.</h2>
                        <a href="mainWays/equipment.html" class="link">
                            (Подробнее)
                        </a>
                    </li>
                    <li class="box">
                        <h2 class="subtitle">3. Аренда систем пожарной автоматики.</h2>
                        <a href="mainWays/rent.html" class="link">
                            (Подробнее)
                        </a>
                        </li>
                    <li class="box">
                        <h2 class="subtitle">4. Аутсорсинг объектов по пожарной безопасности.</h2>
                        <a href="mainWays/outsourcing.html" class="link">
                            (Подробнее)
                        </a>
                    </li>
                    <li class="box">
                        <h2 class="subtitle">5. Расчеты по пожарной безопасности.</h2>
                        <a asp-controller="Ways" asp-action="Calculations" class="link">
                            (Подробнее)
                        </a>
                    </li>
                    <li class="box">
                        <h2 class="subtitle">6. Сопровождение договоров Аренды, Субаренды по вопросам пожарной безопасности. </h2>
                        <a href="mainWays/documentSupport.html" class="link">
                            (Подробнее)
                        </a>
                    </li>
                    <li class="box">
                        <h2 class="subtitle">7. Сувенирная продукция МЧС.</h2>
                        <a href="mainWays/souvenirs.html" class="link">
                            (Подробнее)
                        </a>
                    </li>
                    <li class="box">
                        <h2 class="subtitle">8. Проведение ПТМ.</h2>
                        <a href="mainWays/executionPTM.html" class="link">
                            (Подробнее)
                        </a>
                    </li>
                    <li class="box">
                        <h2 class="subtitle">9. Планы эвакуации.</h2>
                        <a href="mainWays/evacuation.html" class="link">
                            (Подробнее)
                        </a>
                    </li>
                    <li class="box">
                        <h2 class="subtitle">10. Разработка сайтов и программ по пожарной безопасности.</h2>
                        <a href="mainWays/programDevelopment.html" class="link">
                            (Подробнее)
                        </a>
                    </li>
                </ul>
            </div>

            <div class="promo__inner-ad">
                <video src="https://www.instagram.com/reel/CriTT7wKABx/?utm_source=ig_embed&amp;utm_campaign=loading" controls autoplay>
                    Ваш браузер не поддерживает HTML5 видео. Используйте <a href="https://www.instagram.com/reel/CriTT7wKABx/?utm_source=ig_embed&amp;utm_campaign=loading">ссылку на видео</a> для доступа.
                    </video>
            </div><!-- /. promo__inner-ad -->

        </div><!-- /. promo__inner -->
    </div>
</section>


