@{
    Layout = "_Layout";
}

<section class="item">
    <div class="container box page">
        <h1 class="title">Оформить заявку</h1>
        <form class="form" action="#">
            <label class="form__label" for="theme">Тема заявки:</label>
            <input class="form__input" name="theme" type="text">

            <label class="form__label" for="emailAddress">Email почта:</label>
            <input class="form__input" name="emailAddress" type="email">

            <label class="form__label" for="phoneNumber">Номер телефона:</label>
            <input class="form__input" name="phoneNumber" type="tel">

            <label class="form__label" for="address">Адрес объекта:</label>
            <input class="form__input" name="adress" type="text">

            <button class="form__button">Подать заявку</button>
        </form>
    </div><!-- /.container -->
</section>
