@{
    Layout = "_Layout";
}

<section class="item">
    <div class="container box page">
        <h1 class="title">Оформить заявку</h1>
        <form>
            <div class="form-group mb-3">
                <label for="exampleInputEmail1">Тема заявки:</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Тема">
            </div>
            <div class="form-group mb-3">
                <label for="exampleInputEmail1">Email почта:</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите email">
            </div>
            <div class="form-group mb-3">
                <label for="exampleInputPassword1">Номер телефона:</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Телефон">
            </div>
            <div class="form-group mb-3">
                <label for="exampleInputPassword1">Адрес объекта:</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Адрес">
            </div>
           
            <button type="submit" class="btn btn-primary">Подать заявку</button>
        </form>
        
    </div><!-- /.container -->
</section>
