@{
    Layout = "_Layout";
}

<section class="equipment">
    <div class="container box page">
        <h1 class="title">Платная консультация</h1>
        <form class="form" action="#">
            <label class="form__label" for="theme">Вопрос:</label>
            <textarea class="form__input" name="theme" id="theme" cols="30" rows="10"></textarea>

            <label class="form__label" for="emailAddress">Email почта:</label>
            <input class="form__input" name="emailAddress" type="email">

            <label class="form__label" for="phoneNumber">Номер телефона:</label>
            <input class="form__input" name="phoneNumber" type="tel">

            <label class="form__label" for="address">Местонахождение заявителя:</label>
            <input class="form__input" name="adress" type="text">

            <button class="form__button">Послать заявку</button>
        </form>
    </div><!-- /.container -->
</section>
