@{
    Layout = "_Layout";
}

<section class="item">
    <div class="container box page">
        <table class="table m-0">
            <thead>
                <tr>
                    <th colspan="2">
                        <h1 class="title m-0">Стоимость услуг</h1>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Выбор подрядчика на проектирование систем автоматики</td>
                    <td>
                        до 1000 м.кв.- 200 бел. руб.;<br>свыше 1000 м.кв. – 50% от экономии средств
                    </td>
                </tr>
                <tr>
                    <td>Выбор подрядчика на монтаж систем автоматики</td>
                    <td>50% от экономии средств Заказчика</td>
                </tr>
                <tr>
                    <td>Выбор подрядчика на техническое обслуживание систем автоматики</td>
                    <td>от 200 бел. руб.</td>
                </tr>
                <tr>
                    <td>Аренда систем пожарной автоматик</td>
                    <td>по согласованию с Заказчиком</td>
                </tr>
                <tr>
                    <td>Аутсорсинг объектов по пожарной безопасности</td>
                    <td>от 1000 бел. руб.</td>
                </tr>
                <tr>
                    <td>Расчеты по пожарной безопасности</td>
                    <td>от 100 бел. руб.</td>
                </tr>
                <tr>
                    <td>Разработка планов эвакуации</td>
                    <td>от 40 бел.руб.</td>
                </tr>
                <tr>
                    <td>Проведение ПТМ</td>
                    <td>от 10 чел. – 20 руб./чел., до 10 чел. – 40 руб</td>
                </tr>
                <tr>
                    <td>Консультации по защите серверных, музеев, хранилищ и др. ценного оборудования</td>
                    <td>200 бел. руб.</td>
                </tr>
                <tr>
                    <td>Консультирование при заключении договоров Аренды</td>
                    <td>200 бел. руб.</td>
                </tr>
                <tr>
                    <td>Оптимизация затрат при выполнении рекомендаций, предписаний МЧС, в том числе при вводе объекта в эксплуатацию и узаконивании объектов самовольного строительства.</td>
                    <td>От 200 бел. руб</td>
                </tr>
            </tbody>
        </table>
    </div><!-- /.container -->
</section>

