@{
    Layout = "_Layout.cshtml";
}

<section class="support">
    <div class="container box page">
        <h1 class="title">Сопровождение договоров Аренды, Субаренды по вопросам пожарной безопасности.оборудования.</h1>
        <p class="text m-0">
            Правильное заключение договоров аренды, основанных на действующем законодательстве РБ в части обеспечения вопросов пожарной безопасности, является основой для будущих отношений в области ПБ между Арендодателем и Арендатором. ЕЦЭЗ ПБ окажет помощь в формировании четких и грамотно обоснованных зон ответственности при ремонте и эксплуатации объектов в процессе деятельности.
        </p>
        <p class="text">
            Сформировать заявку Вы можете <span>
                позвонив нам по тел.
                <a href="tel:80296196466">8029-619-64-66</a>
            </span>
        </p>
    </div><!-- /.container -->
</section>