<section class="economy">
    <div class="container box page">
        <h1 class="title">Разработка сайтов и программ по пожарной безопасности</h1>
        <p class="text">
            Для консультации по разработке програмы или сайта звоните по номеру:
            <a href="tel:80296196466">8029-619-64-66</a>
            </span>
        </p>
    </div><!-- /.container -->
</section>