@{
    Layout = "_Layout";
}


<h1 class="title">Проектирование и продажа современного оборудования для защита серверных, музеев, хранилищ и др. ценного оборудования.</h1>
<a href="#">
    <img src="" alt="Фото датчика">
</a>
<p class="text">
    Современное оборудование по обнаружению возгораний на ранней стадии, консультации и проектирование  (защита серверных, музеев, хранилищ и др. ценного оборудования <a href="#">Ссылка на работу аспирационного датчика).</a>
</p>
<p class="text">
    Сформировать заявку Вы можете <span>
        позвонив нам по тел.
        <a href="tel:80296196466">8029-619-64-66</a>
</p>
<p class="text m-0">
    <b>Стоимость услуг от 200 руб.</b>
</p>
